n8n-workflows/01-web-search-tool.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "web-search",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3bee25e9-970d-4ca5-ba3b-28bd718c6315",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "cortex-websearch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "-your-api-key-here-"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"q\": \"{{ $('Webhook').item.json.body.query }}\",\n  \"num\": {{ $('Webhook').item.json.body.max_results || 5 }}\n}",
        "options": {}
      },
      "id": "6f9d147e-50fa-42e3-bfc6-c1d8b70714e2",
      "name": "Serper.dev Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Serper.dev response for RAG\nconst query = $('Webhook').item.json.body.query || '';\nconst maxResults = $('Webhook').item.json.body.max_results || 5;\n\n// Parse response\nlet responseData = items[0].json;\nlet searchData;\n\ntry {\n  searchData = typeof responseData === 'string' \n    ? JSON.parse(responseData) \n    : responseData;\n} catch (e) {\n  searchData = {};\n}\n\nconst results = [];\n\n// Priority 1: Answer Box (direct answer from Google)\nif (searchData.answerBox) {\n  const box = searchData.answerBox;\n  results.push({\n    title: box.title || 'Answer',\n    snippet: box.answer || box.snippet || '',\n    url: box.link || '',\n    source: 'Google Answer Box',\n    rank: 1,\n    type: 'answer'\n  });\n}\n\n// Priority 2: Knowledge Graph (for entities)\nif (searchData.knowledgeGraph && searchData.knowledgeGraph.description) {\n  results.push({\n    title: searchData.knowledgeGraph.title || 'Knowledge Graph',\n    snippet: searchData.knowledgeGraph.description,\n    url: searchData.knowledgeGraph.descriptionLink || searchData.knowledgeGraph.website || '',\n    source: 'Google Knowledge Graph',\n    rank: results.length + 1,\n    type: 'knowledge'\n  });\n}\n\n// Priority 3: Organic search results\nif (searchData.organic && Array.isArray(searchData.organic)) {\n  searchData.organic.slice(0, maxResults).forEach((result, idx) => {\n    if (result.snippet && result.link) {\n      results.push({\n        title: result.title || 'Search Result',\n        snippet: result.snippet,\n        url: result.link,\n        source: 'Google Search',\n        rank: results.length + 1,\n        type: 'organic',\n        position: result.position || idx + 1\n      });\n    }\n  });\n}\n\n// Add helpful message when no results found\nlet helpMessage = null;\nif (results.length === 0) {\n  helpMessage = 'The web search API (Serper.dev) could not find results for this query. ' +\n                'Please try rephrasing your question or check if the API key is valid.';\n}\n\nreturn [{\n  json: {\n    query: query,\n    source: 'serper.dev',\n    provider: 'Google (via Serper.dev)',\n    results: results,\n    count: results.length,\n    success: results.length > 0,\n    help_message: helpMessage,\n    raw_response: searchData  // For debugging\n  }\n}];"
      },
      "id": "79401cf9-1201-467a-8faf-43afcce61f6a",
      "name": "Parse Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "f7212920-5586-45a7-97e4-3aca3059c2bc",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        608,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Serper.dev Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serper.dev Search": {
      "main": [
        [
          {
            "node": "Parse Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Results": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "cortex-n8n:5678",
          "user-agent": "python-requests/2.32.5",
          "accept-encoding": "gzip, deflate, zstd",
          "accept": "*/*",
          "connection": "keep-alive",
          "content-length": "63",
          "content-type": "application/json"
        },
        "params": {},
        "query": {},
        "body": {
          "query": "what is the capital of Malaysia?",
          "max_results": 5
        },
        "webhookUrl": "http://cortex-n8n:5678/webhook/web-search",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "instanceId": "9e59b40a7389101be7ffb2c3b0d63331d2bd85aa21ef87fed65d3cd2c7d93812"
  }
}