n8n-workflows/03-url-document-ingestion.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingest-url",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "72d12a67-56da-4146-9ee0-a4e1f9a33bd7",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        1616,
        80
      ],
      "webhookId": "url-ingest-webhook"
    },
    {
      "parameters": {
        "url": "={{ $json.body.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "id": "b425308d-317b-4303-8645-a0c8bee3438f",
      "name": "Download File from URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1840,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract filename from URL or use provided filename\nconst webhookData = $('Webhook Trigger').item.json.body;\nconst url = webhookData.url;\nconst providedFilename = webhookData.filename;\n\nlet filename;\nif (providedFilename) {\n  filename = providedFilename;\n} else {\n  // Extract from URL\n  const urlParts = url.split('/');\n  filename = urlParts[urlParts.length - 1].split('?')[0];\n  \n  // If no extension, add .pdf\n  if (!filename.includes('.')) {\n    filename = filename + '.pdf';\n  }\n}\n\n// Ensure it's a PDF\nif (!filename.toLowerCase().endsWith('.pdf')) {\n  filename = filename + '.pdf';\n}\n\n// IMPORTANT: Preserve binary data from previous node\nconst binaryData = $input.item.binary || {};\n\n// Set the filename in binary data if it exists\nif (binaryData.data) {\n  binaryData.data.fileName = filename;\n}\n\n// Return item with BOTH json and binary data\nreturn {\n  json: {\n    filename: filename,\n    url: url\n  },\n  binary: binaryData\n};"
      },
      "id": "abcf115f-befa-4b3f-942d-7cf25b795d69",
      "name": "Prepare Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://cortex:8080/api/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "b050725e-4ea2-495c-8533-2dba1b149d04",
      "name": "Upload to Cortex",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2288,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format success response\nconst response = $input.item.json;\nconst metadata = $('Prepare Metadata').item.json;\n\nif (response.success) {\n  return {\n    success: true,\n    message: 'Document ingested successfully',\n    filename: metadata.filename,\n    url: metadata.url,\n    file_info: response.file_info,\n    ingestion_source: 'url',\n    timestamp: new Date().toISOString()\n  };\n} else {\n  return {\n    success: false,\n    message: 'Document ingestion failed',\n    error: response.error || 'Unknown error',\n    filename: metadata.filename,\n    url: metadata.url\n  };\n}"
      },
      "id": "d5957b4d-a734-4878-ae21-9ae8f6fafd92",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "95475e5b-3613-46f0-8e42-42987eb4bbcf",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2720,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Handle download errors\nconst error = $input.item.error;\nconst url = $('Webhook Trigger').item.json.body.url;\n\nreturn {\n  success: false,\n  message: 'Failed to download file from URL',\n  error: error ? error.message : 'Download failed',\n  url: url,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "7b06fbf9-3fe8-4cee-9e76-7758316e28e3",
      "name": "Handle Download Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        272
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "f87040fd-520a-4760-bfd1-3e2195efa846",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2288,
        272
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Download File from URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File from URL": {
      "main": [
        [
          {
            "node": "Prepare Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Metadata": {
      "main": [
        [
          {
            "node": "Upload to Cortex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Cortex": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Download Error": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "9e59b40a7389101be7ffb2c3b0d63331d2bd85aa21ef87fed65d3cd2c7d93812"
  }
}